/doc/*.aux
/doc/*.dvi
/doc/*.nav
/doc/*.snm
/doc/*.toc
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/architecture.tex
**/tup.config
/cpp/bin/
/cpp/**/*.o
/cpp/.tup/
/cpp/automake_client/Makefile.in
/cpp/automake_client/aclocal.m4
/cpp/automake_client/autom4te.cache/
/cpp/automake_client/config.guess
/cpp/automake_client/config.sub
/cpp/automake_client/configure
/cpp/automake_client/depcomp
/cpp/automake_client/install-sh
/cpp/automake_client/ltmain.sh
/cpp/automake_client/m4/
/cpp/automake_client/missing
/cpp/automake_client/Makefile
/cpp/automake_client/compile
/cpp/automake_client/config.log
/cpp/automake_client/config.status
/cpp/automake_client/libalbaproxy*
/cpp/automake_client/libtool
/cpp/automake_client/.deps/
/cpp/automake_client/.libs/
/cpp/lib/
/cpp/gtestresults.xml
/cpp/src/lib/.deps/
/cpp/src/lib/.dirstamp
/ocaml/_build/
/ocaml/*.native
/ocaml/*.byte
/ocaml/*.cmxs
/test_data/target/
/tmp/
/fabfile.pyc
/_virt/
/testresults.xml
/**/*.pyc
/gtestresults.xml
/*.out
/debian/alba.debhelper.log
/debian/alba.postinst.debhelper
/debian/alba.postrm.debhelper
/debian/alba/
/debian/alba.substvars
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/cpp/src/lib/libalbaproxy_la-*.lo
/alba_*_amd64.deb
/arakoon_*_amd64.deb
/alba-*.x86_64.rpm
/arakoon-*.x86_64.rpm
/redhat/RPMS/
/redhat/SOURCES/
/redhat/SRPMS/
/rpmbuild/
/oUnit-anon.cache
/setup/_build/
/setup/setup.native
